* {
    box-sizing:border-box;
    margin: 0%;
    padding: 0%;
    
}
header{
    /* background-image: url(img/backgrnd2.jpeg); */
    background-size:cover;
    background-position: center center;
    height: 5vh;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    background-color:lightblue;
    display: flex;
    justify-content: space-between;
    height: 99px;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
a{
    text-decoration: none;
}
header li{
    display: inline-block;
    align-items: inline;
    padding-top: 4.5vh;
    padding-bottom: 3rem;
    padding-left: 10rem;
    /* list-style: 20rem; */

}
.logo{
    cursor: pointer;

}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0% 15px;
    text-transform: uppercase;
}
.nav-area li a{
    transition: .3s;
    color: #fff;
    
}
.nav-area li a:hover{
    color:#d22938
}
.btn-area{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #d22938;


}
.navbar{
    display: flex;

}
.body1{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height:2.5rem;
    font-weight: 15px;
    font-size: 15px;
    font-style: italic;
    color: rgb(138, 184, 199);
}
.body1 img{
    padding-top: 3rem;
    padding-left: 19rem;
    padding-right: 2rem;

}
.body1 h2{
    padding-left: 17rem;
    font-weight: 1000;
    font-size: 27px;
}
.facility{
    display: contents;
    align-items: center;
    justify-content: center;
    /* line-height: 5rem; */
}
.facility h2{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 4rem;
    font-size: 50px;
    padding-top: 2rem;
    color: rgb(75, 131, 150);
}
.facility p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(75, 131, 150);
    line-height: 2rem;
    font-size: 1.3rem;
}
.yes{
    padding-left: 5rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    list-style: none;
    /* padding-left: 0px; */
    margin-bottom: 0;
}
.card-footer {
	color: #fff;
    background: rgb(75, 131, 150);
    padding-top: -6rem;
    margin-top: 1rem;
    /* width: 120rem; */
	word-break: break-all;
    margin-left: 5rem;
    margin-right: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 20rem; */
    /* margin-right: 70rem; */
}

.single_ftr form{
	margin-top: 8px;
}
.single_ftr p{
	margin-bottom: 10px;
}

.sf_title{
    color: #33d286;
    text-transform: uppercase;
    font-size: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.ftr_logo {
    float: left;
    padding: 15px 46px 0 0;
}
.ftr_logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.ftr_logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}
.newsletter_form form{
	position: relative;
	display: block;
}
.newsletter_form {
	margin-top: 0px;
	overflow: hidden;
}
.single_ftr p{
	display: inline-block;
}
.newsletter_form .form-control {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 8px 20px;
    width: 100%;
	position: relative;
	background: transparent;
	color: #fff;
	border-radius: 0;
}

.newsletter_form button {
	border: inherit;
	border-radius: 0;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	box-shadow: none;
	border: 1px solid transparent;
	transition: 0.5s;
	letter-spacing: 0.5px;
	position: absolute;
	right: 0px;
	top: 0;
	padding: 12px 17px;
	transition: .5s;
}
.newsletter_form button:hover,
.newsletter_form button:hover{
	background: transparent;
	color: #33d286;
	opacity: .9;
}
.newsletter_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    opacity: 1
}

.newsletter_form ::-moz-placeholder {

    color: #fff;
    opacity: 1
}
.newsletter_form :-ms-input-placeholder {
    color: #fff;
    opacity: 1
}
.newsletter_form :-moz-placeholder {
    color: #fff;
    opacity: 1
}
.form-control:focus{
	border-color: #33d286;
}

.single_ftr li {
    padding-bottom: 7px;
    color: #fff;
}
.single_ftr a {
    color: #fff;
}
.single_ftr a:hover {
    color: #33d286;
}

.ftr_social_icon li {
	display: inline-block;
	text-align: center;
	padding: 4px;
}


.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
	transition: .5s;
}
.ftr_social_icon ul li a:hover{
	background: #33d286;
	border-color: #33d286;
	color: #fff;
}

.ftr_btm_area {
	background: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dotted #888;
	margin-top: 28px;
	z-index: 100;
	position: relative;
}
.copyright_text{
    margin: 6px 0;
}
.payment_mthd_icon li {
	display: inline-block;
	margin-left: 10px;
	font-size: 30px;
	color: #fff;
}