body{
    padding: 3%;
    text-align: center;
    justify-content: center;
}

.services_row{
    display: flex;
    justify-content: space-evenly;
    padding-top: 4%;
}

.services_row_item{

}

.services_content{
    height: 100px;
    width: 300px;
    justify-self: center;
    background-color: rgb(7, 216, 253);
    padding-top: 30px;
}

.button{
    background-color: rgb(7, 216, 253);
    border: none;
    color: black;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
}